<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
    </title>
  </head>
  <body>


    <form class="" action="/list" method="post">

    <input type="text" name="add_todo" value="">
    <button type="submit" name="button">Add todo</button>
    <br>
    <br>
    <label for="todo_list">List</label>
    <br>
      <input type="radio" name="wash_dishes" value="{{wash_dishes}}">Wash Dishes
      <br>
      <input type="radio" name="vacuum" value="{{vacuum}}">Vacuum
      <br>
      <input type="radio" name="fold_clothes" value="{{fold_clothes}}">Fold Clothes
      <br>
      <br>
    <label for="completed_tasks">Completed Tasks</label>
    <ul>
      <li><del>Sweep Floors</del></li>
      <li><del>Grocery Shopping</del></li>
      <li><del>Mop Kitchen</del></li>
    </ul>



  </form>

  </body>
</html>
