<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
    </title>
  </head>
  <body>


    <form class="" action="/" method="post">
      <input type="text" name="todo" value="">
      <button type="submit" name="button">Add todo</button>
      <br>
      <br>
      <label for="todo_list">List</label>
    </form>

    {{!the action is going back into app.js to look for an id in the context variable }}
    {{#todoList}}
      <form class="" action="/todo/{{id}}/complete/" method="post">
        <ul>
          <li>
            <span>{{.}}</span>
            <input type="submit" name="" value="Done">
          </li>
        </ul>
      </form>
    {{/todoList}}

    <ul>
      {{#completedTodos}}
        <li>{{.}}</li>
      {{/completedTodos}}
    </ul>

  </body>
</html>
